{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="container mt-1">

    <div class="row gx-3 gy-5">
        {% for box in boxes %}           
            <div class="col-md-4">
                <a class="nav-link" href="{{ url_for('detail', model_id=box['id']) }}">
                    <div class="card mb-3">
                        <h3 class="card-header">{{ box['name'] }}</h3>
                        <div class="card-body">
                            <h5 class="card-title pb-2">User: {{ box['username'] }}</h5>
                            <!-- <h6 class="card-subtitle text-muted">{{ box['desc'] }}</h6> -->
                        </div>
                        <img src="{{ box['thumbnail'] }}" class="img-fluid" alt="{{ box['name'] }}">
                        <div class="card-footer">
                            <small>Uploaded: {{ box['timestamp'] }}</small>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="row gx-3 gy-3">
        <div class="col-4 mx-auto">
            <ul class="pagination pagination-lg justify-content-center">
                {% if page > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('index', page=page-1) }}">Previous</a></li>
                {% endif %}
        
                {% for num in range(1, total_pages + 1) %}
                    <li class="{{ 'page-item active' if num == page else 'page-item' }}">
                        <a class="page-link" href="{{ url_for('index', page=num) }}">{{ num }}</a>
                    </li>
                {% endfor %}
        
                {% if page < total_pages %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('index', page=page+1) }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>
  
{% endblock main %}